.advantages {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.advantages__list {
  margin-top: calc(-1 * var(--element-gap));

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--element-gap));
  }
}

.advantages__item {
  margin-top: var(--element-gap);
  flex-basis: calc(100% / 1 - var(--element-gap));

  @media (max-width: 767px) {
    &:not(:first-child) {
      margin-top: var(--element-gap);
    }
  }

  @media (min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--element-gap));
    margin-left: var(--element-gap);
  }

  @media (min-width: 1200px) {
    flex-basis: calc(100% / 4 - var(--element-gap));
    margin-left: var(--element-gap);
  }
}

.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;

  background-color: var(--third-bcg-color);
}

.advantages__title {
  margin-top: 30px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-color-text);
}

.advantages__text {
  margin-top: 10px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
