.doing {
  padding-bottom: 94px;
  text-align: center;
}

.doing__title {
  color: var(--secondary-color-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
}

.doing__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 50px;
  margin-left: calc(-1 * var(--element-gap));
}

.doing__item {
  position: relative;

  margin-left: var(--element-gap);
  flex-basis: cllc(100%/3 - var(--element-gap));

  overflow: hidden;
}

.doing__text {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 23.5%;

  padding-top: 27px;
  padding-bottom: 27px;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);

  .doing__item:hover & {
    transform: translatey(0);
  }
}
