.social-network {
  display: flex;
  justify-content: space-between;

  margin-top: 16px;
}

.social-network__link {
  display: flex;

  border-radius: 50px;
  padding: 12px;
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--white);
    outline: none;
  }
}

.social-network__item:not(:last-child) {
  margin-right: 10px;
}

.social-network__link.pale {
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    outline: none;
  }
}
