.team {
  padding: 60px 0;

  background: var(--third-bcg-color);
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.team__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.179;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.2;
  }
}

.team__list {
  margin-left: calc(-1 * var(--element-gap));

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__item {
  margin-left: var(--element-gap);
  margin-top: var(--element-gap);
  flex-basis: calc(100% / 4 - var(--element-gap));

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--primary-bcg-color);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--element-gap));
    margin-top: var(--element-gap);
  }

  @media screen and (min-width: 1200px) {
    margin-left: var(--element-gap);
    flex-basis: calc(100% / 4 - var(--element-gap));
  }
}

.team__text {
  padding: 30px;
}

.team__title,
.team__name {
  color: var(--secondary-color-text);
}

.team__name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team__prof {
  margin-top: 10px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
}
