:root {
  --primary-color-text: rgba(117, 117, 117, 1);
  --secondary-color-text: rgba(33, 33, 33, 1);
  --footer-color-text: rgba(255, 255, 255, 0.6);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-bcg-color: rgba(255, 255, 255, 1);
  --secondary-bcg-color: #2f303a;
  --third-bcg-color: rgba(245, 244, 250, 1);
  --primary-button-color: #f5f4fa;

  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);

  --element-gap: 20px;
  --cards-gap: 30px;
}
